<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <body>
    <div class="wrapper">
      <%- include('partials/navbar') %>
      <main>
        <h1>Create post</h1>
        <form
          method="post"
          action="/save-post"
          enctype="application/x-www-form-urlencoded"
        >
          <input type="text" required name="slug" placeholder="Slug" />
          <input type="text" required name="title" placeholder="Title" />
          <input type="text" required name="author" placeholder="Author"/>
          <input type="date" required name="date" placeholder="Date" />
          <textarea required rows="50" cols="60" name="content" placeholder="Start writing your post with Markdown"></textarea>
          <input type="submit" value="Save" />
        </form>
      </main>
    </div>
  </body>
</html>
