<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <body>
    <div class="wrapper">
      <%- include('partials/navbar') %>
      <main>
        <hgroup>
          <h1>ejs-blog</h1>
          <p>A server side rendering blogging engine</p>
        </hgroup>
        <section>
          <h2>What is ejs-blog?</h2>
          <p>ejs-blog is a server side rendering blog powered by Node.js.</p>
        </section>
        <section>
          <h2>Upcoming Features</h2>
          <ol>
            <li>Update a post</li>
            <li>Author categorization system</li>
            <li>Settings panel to abstract editing JS files</li>
            <li>Support to store and use local images</li>
          </ol>
        </section>
      </main>
    </div>
  </body>
</html>
