
    <html>
      <%- include('../partials/header') %>
      <body>
      <div class="wrapper">
        <%- include('../partials/navbar') %>
        <a href='/posts'><< Go Back</a>
        <main>
          <hgroup>
          <h1 class="headline">Your First Post!</h1>
          <div class="byline">
            <address class="author">By <a>You</a></address> 
            on <time pubdate date="2024-05-05" title="June 5th, 2024">4/5/2024</time>
          </div>
          </hgroup>
          <h1>Welcome to Blogurr!</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<p><strong>bold text</strong></p>
<p><em>italicized text</em></p>
<blockquote>
<p>blockquote</p>
</blockquote>
<ol>
<li>First item</li>
<li>Second item</li>
<li>Third item</li>
</ol>
<ul>
<li>First item</li>
<li>Second item</li>
<li>Third item</li>
</ul>
<p><code>code</code></p>
<hr>
<p><a href="https://github.com/yburshe">surprise</a></p>
        </main>
        <div>
      </body>
    </html>
  